// - - - - - - - - - - - - - - - - - - - - - - - - - //
//            Full page newsletter signup            //
// - - - - - - - - - - - - - - - - - - - - - - - - - //
.fullpage-signup {
	margin-top: 30px;

	label {
		display: inline-block;
		width: 83px;
		margin-right: 17px;
		text-align: right;
	}

	.fps-fname,
	.fps-lname {
		width: 175px;
		margin: 0 6px 14px 0;
	}

	.fps-email {
		width: 365px;
		margin-bottom: 28px;
	}

	p {
		margin: 0;
	}
}


.form-messages {
	display: none;
	width: 80%;
	padding-bottom: 2em;
	font-size: 14px;
}

.form-messages.is-error {
	color: #167fc3;
}