<article class="full-width newsletter-page">
	<header>
		<h1 class="single-column-title">{{ page.title }}</h1>
	</header>
	<section class="{{ page.handle }}">
		{{ page.content }}

		<div id="mc_embed_signup" class="mc-embed-signup fullpage-signup">
        	<form action="http://gathered.us5.list-manage.com/subscribe/post?u=3cda6bcc55226f16c183b97f4&amp;id=abcad33fca" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <p>
            	<label for="first-name">Name:</label>
            	<input type="text" value="" name="FNAME" class="fps-fname" id="mce-FNAME"  value="first" required  onfocus="if( this.value == 'first' ) {this.value = '';};" placeholder="first">
            	<input type="text" value="" name="LNAME" class="fps-lname" id="mce-LNAME"  value="last" required  onfocus="if( this.value == 'last' ) {this.value = '';};" placeholder="last">
            </p>
            </p>

			<p><label for="EMAIL">Email Address:</label>
        	<input type="email" value="" name="EMAIL" class="fps-email" id="mce-EMAIL"  value="Email Address" required  onfocus="if( this.value == 'enter your email address' ) {this.value = '';};" placeholder="enter your email address"></p>
            
            <p><input type="submit" value="Sign-up Now" name="subscribe" id="mc-embedded-subscribe" class="cart_btn"></p>
          </form>
        </div>
	</section>
</article>