<article class="full-width">
	<header>
		<h1 class="single-column-title">Problem loading page...</h1>
	</header>
	<section class="{{ page.handle }}">
		<p>Hi.  We're sorry but the page that you we're looking for couldn't be found.  Please try again.  Or you can try browsing our <a href="{{ shop.url }}/pages/shop">artist section</a>.</p>
		<div class="block actions">
    		<p>Back to <a href="{{ shop.url }}">{{ shop.name }}</a> | <a href="#" onClick="history.back(); return false;">Previous page</a></p>
	    </div>
	</section>

</article>
